<ActionBar class="action-bar p-t-20">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="(dechetStore.myItem | async)?.nom"></Label>
</ActionBar>

<GridLayout class="page page-content" columns="*" rows="auto, auto">
    <GridLayout columns="auto, *" class="navigation-layout" (tap)="goBack()" horizontalAlignment="left" row="0" col="0">
        <Label col="0" text="&#xf104;" class="fa"></Label>
        <Label col="1" text="Retour" class="p-r-10"></Label>
    </GridLayout>
    <TabView [(ngModel)]="tabSelectedIndex" row="1" col="0" height="100%">
        <GridLayout rows="*,*,*" columns="*" *tabItem="{title: 'Info'}">
            <GridLayout row="0" col="0" rows="*,*,*,*,*" columns="*, *">

                <Label text="id" class="p-l-15 p-b-10 m-r-20 text-secondary" row="0"></Label>
                <Label row="0" col="1" class="text p-b-10">
                    <FormattedString>
                        <Span [text]="(dechetStore.myItem | async)?._id"></Span>
                    </FormattedString>
                </Label>

                <Label text="Date de création" class="p-l-15 p-b-10 m-r-20 text-secondary" row="1"></Label>
                <Label [text]="(dechetStore.myItem | async)?.dateDeCreation" row="1" col="1"
                       class="text p-b-10"></Label>

                <Label text="valideParAdmin" class="p-l-15 p-b-10 m-r-20 text-secondary" row="2"></Label>
                <Label [text]="(dechetStore.myItem | async)?.valideParAdmin" row="2" col="1"
                       class="text p-b-10"></Label>

                <Label text="auteur" class="p-l-15 p-b-10 m-r-20 text-secondary" row="3"></Label>
                <Label [text]="(dechetStore.myItem | async)?.auteur" row="3" col="1"
                       class="text p-b-10"></Label>

                <Label text="astuce" class="p-l-15 p-b-10 m-r-20 text-secondary" row="4"></Label>
                <Label [text]="(dechetStore.myItem | async)?.info" row="4" col="1" class="text p-b-10"></Label>

            </GridLayout>

            <GridLayout row="1" col="0">
                <zd-dechet-content [dechetContent]="(dechetStore.myItem | async)?.content"></zd-dechet-content>
            </GridLayout>

            <GridLayout row="2" col="0">
                <ListView class="list-group" [items]="solutionStore.items | async">
                    <ng-template let-solution="item" let-i="index">
                        <StackLayout orientation="vertical" class="list-group-item">
                            <Label [text]="solution.nom"></Label>
                            <Label [text]="solution.type"></Label>
                            <Label [text]="solution.dateDeCreation"></Label>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </GridLayout>

        </GridLayout>
        <StackLayout *tabItem="{title: 'Zéro déchets'}">
            <StackLayout>
                <Button text="Change Tab via ngModel" (tap)="changeTab()"
                        class="btn btn-primary btn-active"></Button>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Recyclage'}">
            <StackLayout>
                <Button text="Change Tab via ngModel" (tap)="changeTab()"
                        class="btn btn-primary btn-active"></Button>
            </StackLayout>
        </StackLayout>
    </TabView>
</GridLayout>