<ActionBar class="action-bar p-t-20">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Déchet"></Label>
</ActionBar>

<GridLayout class="page page-content" columns="*" rows="auto, auto">
    <GridLayout class="navigation-layout" (tap)="goBack()" horizontalAlignment="left" row="0" col="0">
        <Label col="0" text="&#xf104;" class="fa"></Label>
        <Label col="1" text="Back" class="p-r-10"></Label>
    </GridLayout>

    <StackLayout orientation="vertical" row="1" col="0">
        <Label class="h1" [text]="(store.myItem | async)?.nom" horizontalAlignment="center"></Label>
        <Label [text]="(store.myItem | async)?._id"></Label>
        <Label [text]="(store.myItem | async)?.dateDeCreation"></Label>
    </StackLayout>
</GridLayout>