<StackLayout>
    <GridLayout row="0" col="0" rows="auto" columns="auto">
        <Label row="1" col="0" class="text dechetObjInfo" textWrap="true" width="100%">
            <FormattedString>
                <Span [text]="dechetObj?.info"></Span>
            </FormattedString>
        </Label>
    </GridLayout>
    <ListView row="1" col="0" class="list-group" [items]="dechetObj.content?.materiaux">
        <ng-template let-materiau="item" let-i="index">
            <StackLayout orientation="vertical" class="list-group-item">
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.nom"
                       [text]="materiau.nom"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.info"
                       [text]="'info: ' + materiau.info"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.Pesticides"
                       [text]="'Pesticides: ' + materiau.Pesticides"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.energieElectrique"
                       [text]="'energieElectrique: ' + materiau.energieElectrique"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.energiesFossilesComposition"
                       [text]="'energiesFossilesComposition: ' + materiau.energiesFossilesComposition"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.energiesFossilesFabrication"
                       [text]="'energiesFossilesFabrication: ' + materiau.energiesFossilesFabrication"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.transport"
                       [text]="'transport: ' + materiau.transport"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.deforestation"
                       [text]="'deforestation: ' + materiau.deforestation"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.pollutionChimique"
                       [text]="'pollutionChimique: ' + materiau.pollutionChimique"></Label>
                <Label class="text" textWrap="true" width="100%" *ngIf="materiau.recyclable"
                       [text]="'recyclable: ' + materiau.recyclable"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
