<ScrollView class="page">
    <ListView class="list-group"
              [row]="row"
              [class.visible]="listLoaded"
              [items]="store.items | async"
              (itemLoading)="makeBackgroundTransparent($event)" (loaded)="load()">
        <ng-template let-item="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image [src]="'res://logo_login'" class="thumb img-circle"></Image>
                <Label class="list-group-item-heading"
                       verticalAlignment="center" style="width: 60%" [text]="item.nom" (tap)="onNavItemTap('/dechet/' + item._id)"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</ScrollView>